body {
background: #444;
font-family: arial;
}

h1, h2 {
  color: white;
}

a {
 color: green;
 
}

p {
  background: #999;
  color: white;
  padding: 14px 14px;
}

.row {

}

.col {
  color: white
  background: #111;
  padding: 20px;
  margin: 5px;
  float: left;
}
