body {
background: none;
font-family: arial;
}

h1, h2 {
  color: #888;
}

a {
 color: green;
 
}

p {
  background: #999;
  color: #988;
  padding: 14px 14px;
}

.row {

}

.col {
  background: #333;
  padding: 20px;
  margin: 5px;
  float: left;
}
