body {
background: #780b0b;
font-family: arial;
}

h1, h2 {
  color: white;
}

a {
 color: #ff00e3;
 
}

p {
  background: #ff9191;
  color: white;
  padding: 14px 14px;
}

.row {

}

.col {
  color: white;
  background: #c70825;
  padding: 25px;
  margin: 9px;
  float: left;
}
